ul {
  list-style: none;
}

.appearances > li {
  margin-bottom: 1em;
}

.appearances > li > span:first-child {
  font-weight: 500;
}

.appearances > li > span:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.appearances > li > span:last-child > * {
  padding: 5px 10px;
  background: #eee;
  border-radius: 10px;
}